Repository dnd-side-project/dnd-9th-5-frontend, pull requests merged in 2023-08, with the labels that each got.

#5 Feature : 공통컴포넌트 - 헤더 및 레이아웃 작업
  public/fonts/Pretendard-Bold.woff2
  public/fonts/Pretendard-Medium.woff2
  public/fonts/Pretendard-Regular.woff2
  public/fonts/test.woff2
  src/app/feed/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/app/pick/page.tsx
  src/app/talk/page.tsx
  src/components/header/Header.tsx
  src/components/header/MainHeader.tsx
  src/components/header/Tab.tsx
  src/components/header/index.tsx
  src/constants/color.ts
  styles/font.css
  styles/theme/colors.ts
  styles/typography.css
Labels: ✨ Feat, 💄 Style

#6 Add : icons 추가
  public/icons/arrow_back.svg
  public/icons/bookmark.svg
  public/icons/bookmark_fill.svg
  public/icons/carat_down.svg
  public/icons/carat_up.svg
  public/icons/close.svg
  public/icons/help.svg
  public/icons/info.svg
  public/icons/menu.svg
  public/icons/restart.svg
  public/icons/share.svg
Labels: 💄 Style

#7 Feat : 공통 컴포넌트 - Header 구현
  src/app/(Main)/components/MainHeader.tsx
  src/app/(Main)/components/Tab.tsx
  src/app/(Main)/feed/page.tsx
  src/app/(Main)/layout.tsx
  src/app/(Main)/pick/page.tsx
  src/app/(Main)/talk/page.tsx
  src/app/(Sub)/bookmark/components/BookmarkHeader.tsx
  src/app/(Sub)/bookmark/page.tsx
  src/app/(Sub)/layout.tsx
  src/app/(Sub)/menu/components/MenuHeader.tsx
  src/app/(Sub)/menu/page.tsx
  src/app/layout.tsx
  src/components/Header/index.ts
  src/components/Spacing/Spacing.tsx
  src/components/Spacing/index.ts
  src/components/header/Header.tsx
  src/components/header/MainHeader.tsx
  src/types/index.ts
Labels: 💄 Style

#10 Feat : Portal, Popup창 구현
  package.json
  src/app/(Sub)/menu/components/MenuModal.tsx
  src/app/layout.tsx
  src/components/Button/BottomFixedButton.tsx
  src/components/Button/Button.tsx
  src/components/Modal/ModalWrapper.tsx
  src/components/Modal/Popup.tsx
  src/components/Modal/index.ts
  src/components/Portal/AnimatedPortal.tsx
  src/components/Portal/Portal.tsx
  src/components/Portal/index.ts
  src/hooks/useIsMounted.ts
  src/hooks/useOnClickOutside.ts
  yarn.lock
Labels: ✨ Feat, 💄 Style

#11 Feat : Talk 페이지 구현
  package.json
  public/lotties/posepicker.json
  public/next.svg
  public/vercel.svg
  src/app/(Main)/components/MainHeader.tsx
  src/app/(Main)/components/Tab.tsx
  src/app/(Main)/layout.tsx
  src/app/(Main)/pick/components/PickSection.tsx
  src/app/(Main)/talk/components/TalkSection.tsx
  src/app/(Main)/talk/components/TitleSection.tsx
  src/app/(Main)/talk/page.tsx
  src/app/globals.css
  src/components/BottomFixedDiv/index.tsx
  src/components/header/Header.tsx
  styles/theme/colors.ts
  yarn-error.log
  yarn.lock
Labels: PoseTalk 💬, ✨ Feat

#8 Style : 포즈피드 화면 구현
  src/app/(Main)/components/Tab.tsx
  src/app/(Main)/feed/components/Filter.tsx
  src/app/(Main)/feed/components/Thumbnails.tsx
  src/app/(Main)/feed/page.tsx
  src/constants/icon.ts
  styles/typography.css
Labels: PoseFeed 🧩, 💄 Style

#12 Feat : CD 구축
  .github/auto_assign.yml
  .github/workflows/cd-develop-branch.yml
  .github/workflows/cd-feature-branch.yml
Labels: ✨ Feat

#13 Fix : prettier 적용
  .github/ISSUE_TEMPLATE/trouble-shooting.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/auto_assign.yml
  .github/workflows/auto-label.yml
  .prettierrc.js
  next.config.js
  package.json
  postcss.config.js
  public/images/sample_talk.png
  src/app/(Main)/components/MainHeader.tsx
  src/app/(Main)/pick/components/PickSection.tsx
  src/app/globals.css
  src/components/Button/BottomFixedButton.tsx
  src/components/Button/Button.tsx
  src/components/Modal/ModalWrapper.tsx
  src/components/Portal/AnimatedPortal.tsx
  src/components/Portal/Portal.tsx
  src/constants/color.ts
  src/constants/icon.ts
  styles/font.css
  styles/theme/colors.ts
  styles/typography.css
  tsconfig.json
Labels: Fix

#14 folder : 배포를 위한 폴더구조 관련 이슈
  src/components/Header/Header.tsx
Labels: 🛠 Fix

#17 Feature : React Query, Axios 설정, pick 페이지 api 연결
  next.config.js
  package.json
  src/apis/apis.ts
  src/apis/config/publicApi.ts
  src/apis/config/type.ts
  src/app/(Main)/components/Tab.tsx
  src/app/(Main)/pick/components/PickSection.tsx
  src/app/QueryProvider.tsx
  src/app/layout.tsx
  src/constants/index.ts
  yarn.lock
Labels: PosePick 🃏, ✨ Feat

#16 feat : 북마크 페이지
  src/app/(Main)/bookmark/page.tsx
  src/app/(Main)/components/Tab.tsx
  src/app/(Main)/feed/components/EmptyCase.tsx
  src/app/(Main)/feed/components/Photo.tsx
  src/app/(Main)/feed/components/PhotoList.tsx
  src/app/(Main)/feed/components/Thumbnails.tsx
  src/app/(Main)/feed/page.tsx
  src/app/(Main)/layout.tsx
  src/app/(Sub)/bookmark/components/BookmarkHeader.tsx
  src/app/(Sub)/bookmark/page.tsx
  src/components/Button/PrimaryButton.tsx
  src/constants/icon.ts
Labels: Bookmark 🔖

#23 feat : 포즈피드 기능 완성 및 포즈픽 포즈톡 디테일
  src/apis/apis.ts
  src/apis/queries.ts
  src/apis/type.ts
  src/app/(Main)/feed/components/Filter.tsx
  src/app/(Main)/feed/components/FilterSheet.tsx
  src/app/(Main)/feed/components/FilterTab.tsx
  src/app/(Main)/feed/components/Photo.tsx
  src/app/(Main)/feed/components/PhotoList.tsx
  src/app/(Main)/feed/page.tsx
  src/app/(Main)/layout.tsx
  src/app/(Main)/pick/components/PickSection.tsx
  src/app/(Main)/talk/components/TalkSection.tsx
  src/app/(Main)/talk/components/TitleSection.tsx
  src/app/(Main)/talk/page.tsx
  src/app/layout.tsx
  src/components/Header/Header.tsx
  src/components/Modal/BottomSheet.tsx
  src/components/Selection/SelectionBasic.tsx
  src/components/Selection/SelectionTagList.tsx
  src/components/Selection/Tag.tsx
  src/components/Spacing/Spacing.tsx
  src/constants/filterList.ts
  src/hooks/useFilterState.tsx
  src/mock/getPoseFeed.ts
  src/provider/QueryProvider.tsx
  src/provider/RecoilContextProvider.tsx
Labels: PosePick 🃏, PoseTalk 💬, PoseFeed 🧩, ✨ Feat, 🛠 Fix, ♻️ Refactor

#25 fix : 빌드 에러 수정 (Lint)
  src/apis/apis.ts
  src/apis/queries.ts
  src/apis/type.ts
  src/app/(Main)/bookmark/page.tsx
  src/app/(Main)/feed/components/EmptyCase.tsx
  src/app/(Main)/feed/components/FilterSheet.tsx
  src/app/(Main)/feed/components/FilterTab.tsx
  src/app/(Main)/feed/components/Photo.tsx
  src/app/(Main)/feed/components/PhotoList.tsx
  src/app/(Main)/feed/page.tsx
  src/app/(Main)/layout.tsx
  src/app/(Main)/pick/components/PickSection.tsx
  src/app/(Main)/pick/page.tsx
  src/app/(Main)/talk/page.tsx
  src/app/(Sub)/menu/components/LoginSection.tsx
  src/app/(Sub)/menu/components/MenuSection.tsx
  src/app/layout.tsx
  src/components/Button/PrimaryButton.tsx
  src/components/Button/index.ts
  src/components/Modal/BottomSheet.tsx
  src/components/Selection/SelectionBasic.tsx
  src/components/Selection/Tag.tsx
  src/hooks/useFilterState.tsx
  src/mock/getPoseFeed.ts
Labels: 🛠 Fix

#24 feat : 포즈피드 및 필터 기능 완성
  package.json
  public/icons/restart.svg
  src/apis/apis.ts
  src/apis/queries.ts
  src/apis/type.ts
  src/app/(Main)/bookmark/page.tsx
  src/app/(Main)/components/Tab.tsx
  src/app/(Main)/feed/components/EmptyCase.tsx
  src/app/(Main)/feed/components/Filter.tsx
  src/app/(Main)/feed/components/FilterSheet.tsx
  src/app/(Main)/feed/components/FilterTab.tsx
  src/app/(Main)/feed/components/Photo.tsx
  src/app/(Main)/feed/components/PhotoList.tsx
  src/app/(Main)/feed/components/Thumbnails.tsx
  src/app/(Main)/feed/page.tsx
  src/app/(Main)/layout.tsx
  src/app/(Main)/pick/components/PickSection.tsx
  src/app/(Main)/pick/page.tsx
  src/app/(Main)/talk/page.tsx
  src/app/(Sub)/bookmark/components/BookmarkHeader.tsx
  src/app/(Sub)/bookmark/page.tsx
  src/app/(Sub)/menu/components/LoginSection.tsx
  src/app/(Sub)/menu/components/MenuSection.tsx
  src/app/layout.tsx
  src/components/Button/PrimaryButton.tsx
  src/components/Button/index.ts
  src/components/Header/Header.tsx
  src/components/Modal/BottomSheet.tsx
  src/components/Selection/SelectionBasic.tsx
  src/components/Selection/SelectionTagList.tsx
  src/components/Selection/Tag.tsx
  src/components/Selection/index.ts
  src/components/Spacing/Spacing.tsx
  src/constants/color.ts
  src/constants/filterList.ts
  src/constants/icon.ts
  src/hooks/useBottomSheet.tsx
  src/hooks/useFilterState.tsx
  src/mock/getPoseFeed.ts
  src/provider/QueryProvider.tsx
  src/provider/RecoilContextProvider.tsx
  styles/theme/colors.ts
  yarn.lock
Labels: PoseFeed 🧩, ✨ Feat, 🛠 Fix

#26 Fix : QA 내용 반영하여 수정
  .github/auto_assign.yml
  public/icons/close_white.svg
  public/images/image-frame.png
  src/apis/apis.ts
  src/apis/queries.ts
  src/app/(Main)/components/Tab.tsx
  src/app/(Main)/layout.tsx
  src/app/(Main)/pick/components/PickSection.tsx
  src/app/(Main)/talk/components/TalkSection.tsx
  src/app/(Main)/talk/components/TitleSection.tsx
  src/app/(Main)/talk/page.tsx
  src/app/(Sub)/bookmark/components/BookmarkHeader.tsx
  src/app/layout.tsx
  src/components/Button/BottomFixedButton.tsx
  src/components/Button/Button.tsx
  src/components/Header/Header.tsx
  src/components/Modal/PortalWrapper.tsx
  src/components/Spacing/Spacing.tsx
  src/hooks/useLoading.ts
Labels: 🛠 Fix, Fix

#30 hotfix : next.config로 인해 이미지 안뜨는 현상 해결
  .gitignore
  next.config.js
  public/sw.js.map
Labels: Fix

#27 Refactoring : QA 사항 반영
  public/sw.js.map
  src/app/(Main)/feed/components/FilterTab.tsx
  src/app/(Main)/feed/components/Photo.tsx
  src/app/(Main)/feed/components/PhotoList.tsx
  src/app/(Main)/feed/page.tsx
  src/app/(Main)/pick/components/PickSection.tsx
  src/app/(Main)/talk/components/TalkSection.tsx
  src/app/(Main)/talk/page.tsx
  src/app/(Sub)/detail/[id]/components/DetailHeader.tsx
  src/app/(Sub)/detail/[id]/components/DetailSection.tsx
  src/app/(Sub)/detail/[id]/components/LinkShareModal.tsx
  src/app/favicon.ico
  src/app/layout.tsx
  src/components/BottomFixedDiv/index.tsx
  src/components/Button/PrimaryButton.tsx
  src/components/Modal/BottomSheet.tsx
  src/components/Modal/Modal.tsx
  src/components/Selection/Tag.tsx
  src/hooks/useDidMount.ts
  src/provider/QueryProvider.tsx
Labels: Refactoring

#31 Refactoring : QA 반영 - 3차
  public/images/main.png
  public/images/menu/icon-button.svg
  public/images/sample.png
  public/images/sample_talk.png
  public/sw.js.map
  src/app/(Main)/talk/components/TalkSection.tsx
  src/app/(Sub)/detail/[id]/components/DetailSection.tsx
  src/app/favicon.ico
  src/app/layout.tsx
  src/constants/index.ts
Labels: Refactoring

#32 Refactoring : QA 4차 반영
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  public/images/main_star.png
  public/images/main_wand.png
  public/pwa-icons/icon-128x128.png
  public/pwa-icons/icon-144x144.png
  public/pwa-icons/icon-152x152.png
  public/pwa-icons/icon-192x192.png
  public/pwa-icons/icon-384x384.png
  public/pwa-icons/icon-48x48.png
  public/pwa-icons/icon-512x512.png
  public/pwa-icons/icon-72x72.png
  public/pwa-icons/icon-96x96.png
  public/sw.js.map
  src/app/(Main)/components/MainHeader.tsx
  src/app/(Main)/feed/components/Photo.tsx
  src/app/favicon.ico
  src/app/layout.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/PortalWrapper.tsx
  src/components/Overlay/useOverlay.tsx
  src/components/WaitingToast/WaitingToast.tsx
  src/components/WaitingToast/index.ts
  src/hooks/useKakaoShare.ts
Labels: Refactoring

#36 Hotfix/final
  public/icons/carat_down_gray.svg
  public/icons/close.svg
  public/icons/close_gray.svg
  public/workbox-e34f44db.js.map
  src/app/(Main)/feed/components/FilterTab.tsx
  src/app/(Main)/feed/components/Photo.tsx
  src/app/(Main)/feed/components/PhotoList.tsx
  src/app/(Main)/feed/page.tsx
  src/app/(Main)/pick/components/PickSection.tsx
  src/app/(Main)/talk/components/TalkSection.tsx
  src/app/(Sub)/detail/[id]/components/DetailHeader.tsx
  src/app/(Sub)/detail/[id]/components/DetailSection.tsx
  src/app/(Sub)/menu/components/InqueryModal.tsx
  src/components/BottomFixedDiv/index.tsx
  src/components/Modal/BottomSheet.tsx
  src/components/Selection/Tag.tsx
  src/constants/icon.ts
Labels: 🛠 Fix, 💄 Style
