Repository dnd-side-project/dnd-9th-5-frontend, pull requests merged in 2023-09, with the labels that each got.

#44 feat : 포즈피드 무한스크롤
  src/apis/apis.ts
  src/apis/queries.ts
  src/app/(Main)/feed/components/PhotoList.tsx
  src/app/(Main)/feed/page.tsx
  src/app/(Main)/pick/components/PickSection.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/hooks/useObserver.tsx
Labels: PoseFeed 🧩, ✨ Feat

#43 fix : 포즈픽 비율 이슈 관련 레이아웃 수정
  src/apis/apis.ts
  src/apis/queries.ts
  src/app/(Main)/feed/components/PhotoList.tsx
  src/app/(Main)/feed/page.tsx
  src/app/(Main)/layout.tsx
  src/app/(Main)/pick/components/PickSection.tsx
  src/app/(Main)/talk/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/hooks/useObserver.tsx
Labels: PosePick 🃏, 🛠 Fix

#42 refactor : 메뉴 페이지 위주
  .gitignore
  public/icons/bookmark.svg
  public/images/profile_default.svg
  src/apis/apis.ts
  src/apis/queries.ts
  src/app/(Main)/components/MainHeader.tsx
  src/app/(Main)/feed/components/PhotoList.tsx
  src/app/(Main)/feed/page.tsx
  src/app/(Main)/layout.tsx
  src/app/(Main)/pick/components/PickSection.tsx
  src/app/(Main)/talk/page.tsx
  src/app/(Sub)/bookmark/components/BookmarkHeader.tsx
  src/app/(Sub)/detail/[id]/components/DetailHeader.tsx
  src/app/(Sub)/menu/components/InqueryModal.tsx
  src/app/(Sub)/menu/components/LoginSection.tsx
  src/app/(Sub)/menu/components/LogoutModal.tsx
  src/app/(Sub)/menu/components/MenuHeader.tsx
  src/app/(Sub)/menu/components/MenuListSection.tsx
  src/app/(Sub)/menu/components/MenuSection.tsx
  src/app/(Sub)/menu/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/Button/PrimaryButton.tsx
  src/components/Header/CloseButton.tsx
  src/components/Modal/MenuModal.tsx
  src/components/Modal/Modal.tsx
  src/constants/image.ts
  src/constants/url.ts
  src/hooks/useObserver.tsx
Labels: 🛠 Fix, ♻️ Refactor, 💄 Style

#47 doc: SEO 검색 최적화 작업
  public/manifest.json
  src/app/(Main)/feed/FeedSection.tsx
  src/app/(Main)/feed/page.tsx
  src/app/(Main)/pick/page.tsx
  src/app/(Main)/talk/page.tsx
  src/app/layout.tsx
  src/app/robots.txt
  src/app/sitemap.xml
Labels: SEO

#49 seo : redirect 웹 표준
  next.config.js
  src/app/page.tsx
Labels: SEO

#48 fix : Issue 사항 해결
  package.json
  src/apis/queries.ts
  src/app/(Main)/feed/FeedSection.tsx
  src/app/(Main)/feed/components/Photo.tsx
  src/app/(Main)/feed/page.tsx
  src/app/(Main)/layout.tsx
  src/app/(Main)/pick/components/PickSection.tsx
  src/app/(Main)/pick/page.tsx
  src/app/(Main)/talk/components/TalkSection.tsx
  src/app/(Main)/talk/page.tsx
  src/app/(Sub)/detail/[id]/components/DetailHeader.tsx
  src/app/(Sub)/detail/[id]/components/DetailSection.tsx
  src/app/(Sub)/detail/[id]/components/LinkShareModal.tsx
  src/app/(Sub)/detail/[id]/page.tsx
  src/app/(Sub)/menu/components/LoginSection.tsx
  src/app/(Sub)/menu/components/MakerSection.tsx
  src/app/(Sub)/menu/components/MenuHeader.tsx
  src/app/(Sub)/menu/components/MenuListSection.tsx
  src/app/layout.tsx
  src/components/ErrorBoundary/RejectedFallback.tsx
  src/components/ErrorBoundary/index.ts
  src/components/Header/CloseButton.tsx
  src/components/Header/Header.tsx
  src/components/Loading/Loading.tsx
  src/components/Loading/index.ts
  src/components/Modal/ImageModal.client.tsx
  src/components/Modal/MenuModal.tsx
  src/components/Modal/Modal.tsx
  src/components/Modal/ModalWrapper.tsx
  src/components/Modal/PortalWrapper.tsx
  src/components/Modal/PreparingModal.tsx
  src/components/Modal/index.ts
  src/components/Overlay/OverlayProvider.tsx
  src/components/PageAnimation/PageAnimation.tsx
  src/components/PageAnimation/index.ts
  src/components/Spacing/Spacing.tsx
  src/components/WaitingToast/WaitingToast.tsx
  src/components/WaitingToast/index.ts
  src/hooks/useFilterState.tsx
  src/utils/cn.ts
  src/utils/gtm.ts
  styles/theme/animations.ts
  tailwind.config.js
  yarn.lock
Labels: 🛠 Fix

#51 seo : 사이트맵, 메타데이터 동적으로 생성
  src/app/(Main)/feed/page.tsx
  src/app/(Main)/pick/page.tsx
  src/app/(Main)/talk/page.tsx
  src/app/(Sub)/detail/[id]/page.tsx
  src/app/layout.tsx
  src/app/sitemap.ts
  src/app/sitemap.xml
  src/constants/url.ts
Labels: SEO

#56 Fix : QA 이슈 해결
  package.json
  src/app/(Main)/components/Tab.tsx
  src/app/(Main)/feed/FeedSection.tsx
  src/app/(Main)/pick/components/PickSection.tsx
  src/app/(Main)/talk/components/TitleSection.tsx
  src/components/Button/Button.tsx
  src/components/Selection/SelectionBasic.tsx
  tailwind.config.js
  yarn.lock
Labels: 🛠 Fix, ♻️ Refactor, Fix

#59 Seo
  public/manifest.json
  public/meta/apple_touch_icon.png
  public/meta/favicon.ico
  public/meta/og_detail.png
  public/meta/og_kakao.png
  public/meta/og_main.png
  src/app/(Main)/feed/page.tsx
  src/app/(Main)/pick/page.tsx
  src/app/(Main)/talk/page.tsx
  src/app/(Sub)/detail/[id]/page.tsx
  src/app/layout.tsx
  src/constants/meta.ts
  src/hooks/useKakaoShare.ts
Labels: SEO

#60 seo, style : 최종 배포 관련 변경사항
  public/icons/bookmark_black.svg
  public/manifest.json
  public/meta/apple_touch_icon.png
  public/meta/favicon.ico
  public/pwa-icons/favicon-16-round.png
  public/pwa-icons/favicon-16-square.png
  public/pwa-icons/favicon-180-round.png
  public/pwa-icons/favicon-180-square.png
  public/pwa-icons/favicon-192-round.png
  public/pwa-icons/favicon-192-square.png
  public/pwa-icons/favicon-256-round.png
  public/pwa-icons/favicon-256-square.png
  public/pwa-icons/favicon-32-round.png
  public/pwa-icons/favicon-32-square.png
  public/pwa-icons/favicon-512-round.png
  public/pwa-icons/favicon-512-square.png
  public/pwa-icons/favicon-64-round.png
  public/pwa-icons/favicon-64-square.png
  public/pwa-icons/icon-128x128.png
  public/pwa-icons/icon-144x144.png
  public/pwa-icons/icon-152x152.png
  public/pwa-icons/icon-192x192.png
  public/pwa-icons/icon-384x384.png
  public/pwa-icons/icon-48x48.png
  public/pwa-icons/icon-512x512.png
  public/pwa-icons/icon-72x72.png
  public/pwa-icons/icon-96x96.png
  src/app/(Main)/feed/FeedSection.tsx
  src/app/(Main)/feed/components/EmptyCase.tsx
  src/app/(Main)/feed/page.tsx
  src/app/(Main)/pick/page.tsx
  src/app/(Main)/talk/page.tsx
  src/app/(Sub)/detail/[id]/components/DetailHeader.tsx
  src/app/(Sub)/detail/[id]/components/DetailSection.tsx
  src/app/(Sub)/menu/components/MenuListSection.tsx
  src/app/layout.tsx
  src/app/robots.txt
  src/components/BottomFixedDiv/index.tsx
  src/constants/icon.ts
  src/constants/meta.ts
  src/constants/url.ts
Labels: PoseFeed 🧩, 🛠 Fix, 💄 Style, SEO

#61 hotfix : 닫힘 버튼
  public/meta/favicon.ico
  src/app/(Sub)/detail/[id]/components/DetailHeader.tsx
  src/components/Header/CloseButton.tsx
  src/constants/url.ts
Labels: PoseFeed 🧩, 🛠 Fix

#65 [Fix] 포즈톡 페이지 > 뽑기 누르면 이미지 내려가는 이슈
  src/app/(Main)/talk/components/TalkSection.tsx
  src/app/(Sub)/detail/[id]/components/DetailHeader.tsx
Labels: 🛠 Fix
